*Imagem legal para o projeto aqui.*

# *Título do nosso Projeto.*

### *Descrição do Projeto.*

*Aqui temos várias pequenas etapas....*

### *Dados do Projeto.*

*variáveis e demais descrições dos dados aqui.*

# *Iniciando Projeto*

In [4]:
# importando bibliotecas
import pandas as pd
import numpy as numpy
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# carregando arquivo
path = 'C:/my_workspace/Github/Project_Sales_Funnel_and_AAAB_Test/data/'
df = pd.read_csv(path + 'logs_exp_us.csv', sep='\t')

*Primeiras informações dos nossos dados.*

In [6]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244126 entries, 0 to 244125
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   EventName       244126 non-null  object
 1   DeviceIDHash    244126 non-null  int64
 2   EventTimestamp  244126 non-null  int64
 3   ExpId           244126 non-null  int64
dtypes: int64(3), object(1)
memory usage: 7.5+ MB

                 EventName         DeviceIDHash  EventTimestamp  ExpId
0         MainScreenAppear  4575588528974610257      1564029816    246
1         MainScreenAppear  7416695313311560658      1564053102    246
2  PaymentScreenSuccessful  3518123091307005509      1564054127    248
3         CartScreenAppear  3518123091307005509      1564054127    248
4  PaymentScreenSuccessful  6217807653094995999      1564055322    248

*Olhando os nomes das colunas.*

In [7]:
df.columns

Index(['EventName', 'DeviceIDHash', 'EventTimestamp', 'ExpId'], dtype='object')

*Iremos transformar os nomes das colunas para lower case e renomeá-los.*

In [10]:
df.rename(columns= {'EventName': 'event_name', 'DeviceIDHash': 'id_device', 'EventTimestamp': 'event_ts', 'ExpId': 'id_exp' }, inplace=True)

In [11]:
df.head()

                event_name            id_device    event_ts  id_exp
0         MainScreenAppear  4575588528974610257  1564029816     246
1         MainScreenAppear  7416695313311560658  1564053102     246
2  PaymentScreenSuccessful  3518123091307005509  1564054127     248
3         CartScreenAppear  3518123091307005509  1564054127     248
4  PaymentScreenSuccessful  6217807653094995999  1564055322     248